@charset "UTF-8";

/* Phone 600px até 768 px  */

@media  screen and (max-width:768px) {
    
    html, body {
        margin: 0%;
        padding: 0%;
    }

    body {
        background-color: rgb(225, 225, 225);
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        background-color: rgb(166, 166, 166);
        text-align: center;
    }

    header h1 {
        margin: 0%;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    ul {
        margin: 0%;
        padding: 0%;
    }

    li {
        background-color: rgb(84, 84, 84);
        padding: 15px;
        color: white;

        font-weight: bolder;
        font-size:20px ;
    }

    li:hover {
        background-color:white ;
        color: rgb(84, 84, 84);
        border-top: 2px solid rgba(0, 0, 0, 0.311);
    }

    a {
        text-decoration: none;
    }

    #burguer {
        background-color: white;
        text-align: center;

        padding: 0%;
        margin: 0%;
    }

    #menu1 {
        display: none;
    }

    main {
        background-color: white;

        max-width: 450px;
        width: 85vw;

        margin: auto;
        margin-top: 30px;

        border-radius: 20px;

        padding: 15px;

        font-size: 25px;
    }

    main h1 {
        font-size: 35px;
    }

}
    
    